<footer class="w-full h-auto bg-[#232f3e] text-slate-50">
    <div class="w-full h-12 mb-8 bg-[#37475A] hover:bg-[#485769] cursor-pointer flex items-center justify-center text-sm">
        <span>Back to top</span>
    </div>
    <div class="w-72 h-56 m-auto flex gap-7">
        <div class="flex flex-col">
            <p class="font-bold mb-3">Connect with Us</p>
            <a href="#" class="hover:underline">
                <span class="text-sm">Facebook</span>
            </a>
            <a href="#" class="hover:underline">
                <span class="text-sm">Twitter</span>
            </a>
            <a href="#" class="hover:underline">
                <span class="text-sm">Instagram</span>
            </a>
        </div>
        <div class="flex flex-col">
            <p class="font-bold mb-3">Let Us Help You</p>
            <a href="" class="hover:underline">
                <span class="text-sm">Your Account</span>
            </a>
            <a href="" class="hover:underline">
                <span class="text-sm">Returns Center</span>
            </a>
            <a href="" class="hover:underline">
                <span class="text-sm">Help</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="w-[1000px] h-16 m-auto mt-10 mb-10 flex items-center justify-center gap-10">
        <a href="#" class="nav-ele-border w-28 h-12 ml-3">
            <span class="bg-image logo"></span>
        </a>
        <div class="flex gap-2">
            <a href="#" class="h-8 w-28 p-3 rounded-sm flex justify-between items-center border border-slate-500">
                <span class="inline-block bg-flags lang-img"></span>
                <span class="inline-block text-slate-400">English</span>
                <span class="inline-block bg-flags double-arrow"></span>
            </a>
            <a href="#" class="h-8 w-28 p-3 rounded-sm flex justify-start gap-2 items-center border border-slate-500">
                <span class="inline-block bg-flags flag"></span>
                <span class="inline-block text-slate-400">US</span>
            </a>
        </div>
    </div>
    <div class="w-full h-20 bg-[#131a22] flex flex-col justify-center items-center">
        <p class="flex gap-3"><a class="text-sm hover:underline cursor-pointer">Conditions of Use & Sale</a> <a class="text-sm hover:underline cursor-pointer">Privacy Notice</a></p>
        <p class="text-sm">&copy; 1996-2024, Amazon.com, Inc. or its affiliates</p>
    </div>
</footer>
