<% layout("layouts/boilerplate") %>

<body class="w-full min-h-screen bg-[#e3e6e6]">
    <div class="max-w-[1500px] min-h-screen bg-slate-50 m-auto">
        <section class="hero">
            <div class="box">
                <button class="slider-btn1" onclick="goPrev()"><</button>
                <img src="img/Hero.jpg" alt="" class="slide-img">
                <img src="img/Hero_2.jpg" alt="" class="slide-img">
                <img src="img/Hero_3.jpg" alt="" class="slide-img">
                <img src="img/Hero_4.jpg" alt="" class="slide-img">
                <img src="img/Hero_5.jpg" alt="" class="slide-img">
                <img src="img/hero_image.jpg" alt="" class="slide-img">
                <button class="slider-btn2" onclick="goNext()">></button>
            </div>
        </section>

    </div>
</body>
